/* main */
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Root UI';
  font-weight: 400;
  color: #1e1e1e;
  background-color: #fafafa;
}
.page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: inherit;
}
.subtitle,
h1,
h2,
h3 {
  font-weight: 700;
}
h1 span {
  font-family: 'Comic Sans';
  font-size: 4vw;
  cursor: pointer;
}
header {
  width: 100%;
  height: 34vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url('../images/letters.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.contacts {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-end;
  padding: 1rem;
  z-index: 20;
  position: relative;
}
.links {
  display: flex;
  gap: 1vw;
}
.contacts a,
.contacts p,
.contacts .aboutText {
  text-decoration: none;
  color: black;
  margin-right: 10vw;
  background-color: #fafafa;
  padding: 10px;
}
.contacts a:hover,
.contacts p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.about p.active {
  /* width: 5vw;
  height: auto; */
  width: 4.4vw;
  background-color: black;
  padding: 1vw;
  color: white;
}
.about {
  max-width: 300px;
  background-color: #fafafa;
}
.about p {
  user-select: none;
  transition: all 0.3s ease;
}
.aboutText {
  display: none;
}
.desktop .pic {
  width: 5vw;
  position: absolute;
  top: 10vw;
  z-index: 0;
}
.desktop .pic.fall {
  animation: fall 10s infinite ease;
}
.desktop .pic.hover:nth-of-type(odd) {
  transform: scale(1.5);
}
.desktop .pic.hover:nth-of-type(even) {
  animation: rotate 4s infinite linear;
}
.pic.hover {
  animation: paused;
}

@keyframes fall {
  0% {
    top: -5vw;
  }
  100% {
    top: 45vw;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section {
  width: 100%;
  padding: 2rem;
}
#main {
  display: flex;
  gap: 1%;
  z-index: 5;
  background-color: inherit;
}
#wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6vw;
}
#authors {
  width: 19%;
  font-size: 16px;
}
p.underlined {
  text-decoration: underline;
}
.posterItem {
  width: 6%;
  transition: all ease 0.2s;
}
.posterItem:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 0.6s;
}
.zoom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: 90%;
  z-index: 2;
}
#zoom {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.8);
  z-index: 10;
}
